<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container01">
      <div class="header">
        <h1 class="index"><%= title %></h1>
        <p class="index">Welcome to <%= title %></p>
      </div>
      <form action="/" method="post" id="indexPage">
        <input type="submit" value="LOG IN" id="login">
      </form>
    </div>
        
  </body>
</html>
