<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="login">
        <form action="/login" method="post">
          <h1>LOG IN</h1> 	
          <input type="text" id="user_acc" placeholder="Your Email">
          <br>
          <input type="password" id="user_pwd" placeholder="Password">
          <br>
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
