<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Name: <%= user %></h1>
    <br>
    <h1>Password: <%= pwd %></h1>
  </body>
</html>
